body {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Righteous', cursive;
}
.font-color-orange {
  color: rgb(251, 162, 79);
}
.font-color-gray {
  color: rgb(111, 111, 111);
}
h1 {
  font-size: 50px;
}
